@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', 'Roboto', 'Barlow', 'Aptos', Arial, sans-serif;
}

body {
    position: relative;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    position: relative;
    width: 1200px;
    height: 100dvh;
    margin: 0 auto;
    /* overflow: hidden; */

    display: grid;
    grid-template-columns: 850px 330px;
    grid-template-areas:
        "tTop tTop"
        "edit tGen";
}

/* Tools Top */
.toolsTop {
    position: relative;
    grid-area: tTop;

    width: 100%;
    color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        padding: 5px;
        margin-bottom: 10px;
        border-radius: 7px;
        border-bottom: 2px solid var(--green);

        img {
            height: 20px;
            margin: 0 5px;
        }
    }

    .copy {
        position: absolute;
        top: 5px;
        right: 10px;
        text-align: right;
        font-size: 0.7rem;
        font-weight: normal;
        color: #323232;
    }

    .toolbar {
        width: 100%;
        display: flex;
        /* justify-content: center; */
        border-radius: 7px;
        border: 1px solid #ccc;
        margin-bottom: 10px;
        padding: 7px;
        gap: 5px;
        flex-wrap: wrap;

        button {
            min-width: 32px;
            padding: 5px 10px;
            cursor: pointer;
            border: 1px solid #929292;
            box-shadow: 0 3px 0 #929292;
            background: #fff;
            border-radius: 4px;
            font-size: 0.9rem;
            transition: background 0.2s;

            &:hover {
                background: #f0f0f0;
            }

            &:active {
                box-shadow: none;
                transform: translateY(3px);
            }
        }

        .separator {
            color: #ccc;
            margin: 0 5px;
            display: flex;
            align-items: center;
        }

        input {
            border: 1px solid #929292;
            padding: 0 5px;
            border-radius: 4px;

            &:focus {
                border-color: var(--green);
                outline: none;
            }
        }
    }
}

/* Tools General  | Bloques*/
.toolsGeneral {
    position: relative;
    display: flex;
    flex-direction: column;
    grid-area: tGen;

    margin: 0 0 20px 20px;
    padding: 15px 20px;
    border-radius: 7px;
    border: 1px solid #ccc;

    h3 {
        font-size: 1.2rem;
        color: #323232;
    }

    .separator {
        width: 100%;
        display: flex;
        justify-content: center;

        span {
            display: block;
            width: 90%;
            height: 2px;
            background: #ccc;
            margin: 20px 0;
        }
    }

    .actions {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-bottom: 20px;
    }

    .btnAction {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        padding: 8px;
        background: #fff;
        box-shadow: 0 5px 0 #323232;
        color: #333;
        border: 2px solid #323232;
        border-radius: 7px;
        cursor: pointer;
        font-size: 0.9rem;
        transition: background 0.2s;

        &:hover {
            background: #f0f0f0;
        }

        &:active {
            box-shadow: none;
            transform: translateY(5px);
        }

        cursor: pointer;
        font-size: 1rem;
        font-weight: bold;

        img {
            height: 25px;
            margin: 0 5px;
        }
    }

    .btnExportar {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        color: #323232;
        background: #fff;
        border: 2px solid var(--green);
        box-shadow: 0 5px 0 var(--green);
        border-radius: 7px;
        cursor: pointer;
        font-size: 0.9rem;
        cursor: pointer;
        font-size: 1rem;
        font-weight: bold;

        &:active {
            box-shadow: none;
            transform: translateY(5px);
        }

        img {
            height: 25px;
            margin: 0 5px;
        }
    }
}

/* Editor */
.editor {
    position: relative;
    grid-area: edit;

    height: auto;
    overflow-y: scroll;

    .page {
        position: relative;
        width: 21.59cm;
        height: 27.94cm;
        background: #ffffff;
        border: 1px solid #ccc;
        border-radius: 7px;
        margin: 0 auto;
        overflow-x: auto;
        overflow-y: hidden;
        /* APA 7 formato */
        padding: 2.54cm;
        font-size: 11pt;
        line-height: 1.3;
        text-align: left;
        color: #000;
        word-wrap: break-word;

        p {
            margin: 0 0 1em;
            text-indent: 1.27cm;
        }

        /* APA 7 Listas */
        ul,
        ol {
            margin: 0 0 1em 0;
            padding-left: 1.27cm;
            list-style-position: outside;
        }

        ul li::marker,
        ol li::marker {
            font-weight: bold;
        }

        li {
            text-indent: 0;
            margin-bottom: 0;
        }

        /* Page Number */
        .page-number {
            position: absolute;
            top: 1.27cm;
            right: 2.54cm;
            font-size: 11pt;
            font-family: inherit;
        }
    }

    .addBtn button {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 5px 20px 5px 5px;
        background: transparent;
        border: none;
        opacity: 0.7;

        img {
            height: 20px;
            margin: 0 5px;
        }

        span {
            display: inline-block;
            width: 100%;
            border-top: 1px dashed #333;
        }
    }

    #pagesContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

/**/
/* ESTILOS PARA LA BARRA SCROLL */
.editor::-webkit-scrollbar {
    width: 6px;
    /* ancho del scroll */
}

.editor::-webkit-scrollbar-track {
    background: transparent;
    /* fondo del track */
}

.editor::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 0.4);
    /* color del "thumb" */
    border-radius: 4px;
}

.editor::-webkit-scrollbar-thumb:hover {
    background: rgba(100, 100, 100, 0.7);
    /* color al pasar el mouse */
}